@model HalloDocApp.Entities.ViewModels.forgotPassword;



@{
    Layout = "_AdminLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
}
    <div class="row">
        <div class="d-none d-md-block col-md-6">
            <img class="admin_login_img" src="~/images/11116016_415.jpg">
        </div>
        <div class="col-md-6  d-flex flex-column justify-content-between align-items-center">

            <img class="admin-login-logo my-3" src="~/images/hallo-doc.png">
            <div class="main-div">
                <h3>Reset Your Password</h3>

                <form asp-action="AdminForgotPassword" asp-controller="Admin">
                    <div class="form-floating  my-3">
                        <input asp-for="email" type="email" id="emailfield" class="form-control bg-transparent border-secondary"
                               placeholder="">
                        <label for="emailfield">Username</label>
                        <i class="bi bi-person-circle user-icon"></i>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div>
                        <button class="btn btn-primary  log-in-btn">Reset Password</button>
                    </div>
                    <div class="m-3">
                        <a asp-action="AdminLogin" asp-controller="Admin" class="forgot-pwd">Back To Login</a>
                    </div>
                </form>

            </div>
            <div>
                <h4>Terms & Conditions | Privacy Policy</h4>
            </div>


        </div>
    </div>

@section Scripts{
   @{
       <partial name="_ValidationScriptsPartial" />
   }
}