<header> 
<div class="card shadow">
     <img class="patient-request-logo" src="~/images/hallodoc-logo.png">
     <i class="far fa-moon moon-icon p-2 my-1" onclick="toggle_light_mode()"></i>
 </div>
 <div class="d-flex justify-content-end mx-5">
     <a asp-route="PatientSubmitRequest" class="btn btn-outline-primary btn-back">Back</a>
 </div>
</header>