@model HalloDocApp.Entities.ViewModels.ForgotPassword;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Patient - Forgot Password Screen</title>

</head>

<body>
   @*  <div class="container">
        <div class="modal fade" id="EmailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-body">

                        <center>  <h1> <i class="bi bi-exclamation-circle warning-icon"></i></h1></center>
                        <center> <h5 class="modal-title" id="exampleModalLabel">Email Sent Successfully!!</h5></center>
                        <center>    Please check your email to reset your password.</center>

                        <center> <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >OK</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <div class="main-area">
        <div class="backimage"></div>
        <div class="position-absolute d-flex flex-column justify-content-between align-items-center h-100 w-100">
            <i class="far fa-moon moon-icon p-2 my-1" onclick="toggle_light_mode()"></i>
            <div class="hallo-doc-logo">
                <img src="../../images/hallodoc-logo.png">
            </div>
            <div>
                <a onclick="history.go(-1)" class="back">Back</a>
                <h3 class="login">Reset your Password</h3>
                <form asp-action="PatientForgotPassword" asp-controller="Home">
                    <div class="form-floating  my-3">
                        <input asp-for="Email" id="emailfield" class="form-control bg-transparent border-secondary"
                            placeholder="" required>
                        <label for="">Username</label>
                        <i class="bi bi-person-circle user-icon"></i>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block log-in-btn" >
                            Reset
                            Password</button>
                    </div>
                    <div class="m-3">
                        <a asp-action="PatientLogin" class="forgot-pwd back">Back to Login</a>
                    </div>
                </form>
            </div>
            <div>
                <p>Terms & conditions | Privacy Policy</p>
            </div>     
        </div>
    </div>
    <script src="~/js/patient-forgot-password.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>