<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>Patient Site</title>
</head>

<body>
    <div class="main-area">

        <div class="position-absolute d-flex flex-column justify-content-between align-items-center h-100 w-100">
            <i class="far fa-moon moon-icon p-2 my-1" onclick="toggle_light_mode()"></i>
            <div>
                <img src="~/images/hallodoc-logo.png">
            </div>
            <div>
                <div class="m-3">
                    <a asp-route="PatientSubmitRequest" type="button" class="patient_site_btn">Submit A
                        Request</a>
                </div>
                <div class="m-3">
                    <a asp-route="PatientLogin" type="button" class="patient_site_btn register-btn"> Registered Patients </a>
                </div>
                <div class="m-3">
                    <a asp-action="AdminLogin" asp-controller="Admin" type="button" class="patient_site_btn register-btn"> Admin Login </a>
                </div>
            </div>
            <div>
                <p>Terms & conditions | Privacy Policy</p>
            </div>
        </div>
    </div>
    <script src="~/js/patient-site.js"></script>
</body>


</html>